{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-apirone" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
    <div class="container-fluid">
		{% if error %}
		<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
        <div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }} ({{ text_plugin_version }} {{payment_apirone_mccp_version }})</div>
            <div class="card-body">
                <form action="{{ save }}" method="post" enctype="multipart/form-data" id="form-apirone" class="form-horizontal"  data-oc-toggle="ajax">

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_merchantname }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_apirone_mccp_merchantname" value="{{ payment_apirone_mccp_merchantname }}" placeholder="{{ entry_merchantname }}" id="input-merchantname" class="form-control" />
                        </div>
                    </div>

                {% for currency in currencies %}
                    <div class="row mb-3{{ error_empty_currencies ? ' has-error' : '' }}">
                        <label class="col-sm-2 col-form-label" for="input-merchant"><span data-bs-toggle="tooltip" data-bs-original-title="{{ currency.currency_tooltip | raw }}"><img src="{{ currency.icon }}" width="16" alt="" title=""/> {{ currency.name }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="address[{{ currency.abbr }}]" value="{{ currency.address }}" id="address_{{ currency.abbr }}" class="form-control" />
                            <div id="error-address-{{ currency.abbr }}" class="invalid-feedback"></div>
                            {% if currency.testnet %}
                            <label class="col-form-label" style="color: inherit !important;"><span data-bs-toggle="tooltip" data-bs-original-title="{{ text_test_currency_tooltip }}">{{ text_test_currency }}</span></label>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-testcustomer">{{ entry_testcustomer }}</label>
                        <div class="col-sm-10">
                            <input type="email" name="payment_apirone_mccp_testcustomer" value="{{ payment_apirone_mccp_testcustomer }}" placeholder="{{ entry_testcustomer_placeholder }}" id="input-testcustomer" class="form-control" />
                            <label class="contorl-label">{{ text_test_currency_customer }}</label>
                        </div>
                    </div>

                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-timeout">{{ entry_timeout }}</label>
                        <div class="col-sm-10">
                            <input type="number" name="payment_apirone_mccp_timeout" value="{{ payment_apirone_mccp_timeout }}" placeholder="{{ entry_timeout }}" id="input-timeout" class="form-control" />
                            <div id="error-timeout" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoice-created">{{ entry_invoice_created }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_created_status_id" id="input-invoice-created" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_created_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoice-paid">{{ entry_invoice_paid }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_paid_status_id" id="input-invoice-paid" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_paid_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoice-partpaid">{{ entry_invoice_partpaid }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_partpaid_status_id" id="input-invoice-partpaid" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_partpaid_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoce-overpaid">{{ entry_invoice_overpaid }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_overpaid_status_id" id="input-invoice-overpaid" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_overpaid_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoice-completed">{{ entry_invoice_completed }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_completed_status_id" id="input-invoice-completed" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_completed_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-invoice-expired">{{ entry_invoice_expired }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_invoice_expired_status_id" id="input-invoice-expired" class="form-control">
                                {% for order_status in order_statuses %}
                                {% if order_status.order_status_id == payment_apirone_mccp_invoice_expired_status_id %}
                                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                {% else %}
                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                {% if geo_zone.geo_zone_id == payment_apirone_mccp_geo_zone_id %}
                                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                {% else %}
                                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_apirone_mccp_status" id="input-status" class="form-control">
                                {% if payment_apirone_mccp_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_apirone_mccp_sort_order" value="{{ payment_apirone_mccp_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}